<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lvlOverview7"></activity>
        <activity android:name=".lvlOverview6" />
        <activity android:name=".lvlOverview5" />
        <activity android:name=".lvlOverview4" />
        <activity android:name=".lvlOverview3" />
        <activity android:name=".lvlOverview2" />
        <activity android:name=".End3" />
        <activity android:name=".gameOverview" />
        <activity android:name=".End2" />
        <activity android:name=".LvlOverview" />
        <activity android:name=".End" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Spiel">
            <intent-filter>
                <action android:name="android.intent.action.Spiel" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>